<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>example methods</title>
</head>
<body>
<h1>methods</h1>
<hr>
<div id="app">
    {{num}}
    <p><button @click="add">add</button></p>
</div>

<p><button onclick="reduce()">reduce</button></p>
<p><button onclick="reduceOnce()">reduceOnce</button></p>
<p><button onclick="off()">off</button></p>
<script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            num:1
        },
        methods:{
            add:function () {
                this.num++;
            }
        }
    });
    app.$on("reduce",function () {
        console.log("执行了reduce方法");
        this.num--;
    });

    app.$once('reduceOnce',function(){
        console.log('只执行一次的方法');
        this.num--;

    });
    //外部调用内部事件
    function reduce(){
        app.$emit('reduce');
    }

    //外部调用内部事件
    function reduceOnce(){
        app.$emit('reduceOnce');
    }
    //关闭事件
    function off(){
        app.$off('reduce');
    }

</script>
</body>
</html>