<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>example methods</title>
</head>
<body>
<h1>methods</h1>
<hr>
<div id="app">
    {{message}}

</div>
<p><button onclick="destroy()">卸载</button></p>
<p><button onclick="relaod()">更新</button></p>
<p><button onclick="tick()">修改</button></p>

<script type="text/javascript">
    var jspang = Vue.extend({
        template:`<p>{{message}}</p>`,
        data:function(){
            return {
                message:'Hello ,I am feng'
            }
        },
        mounted:function () {
            console.log("被挂载");
        },
        destroyed:function () {
            console.log("destroyed")
        },
        updated:function () {
            console.log("updated")
        }
    })
    var vm = new jspang().$mount("#app");
    function destroy() {
        vm.$destroy();
    }
    function relaod() {
        vm.$forceUpdate();
    }
    function tick(){
        vm.message="update message info ";
        vm.$nextTick(function(){
            console.log('message更新完后我被调用了');
        })
    }
</script>
</body>
</html>