<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>slot</title>
</head>
<body>
<h1>slot</h1>
<hr>
<div id="app">
   <jsfeng>
       <span slot="bolgUrl">{{jsfengData.bolgUrl}}</span>
       <span slot="netName">{{jsfengData.netName}}</span>
       <span slot="skill">{{jsfengData.skill}}</span>
   </jsfeng>
</div>

<template id="tmp">
    <div>
        <p>博客地址：<slot name="bolgUrl"></slot></p>
        <p>网名：<slot name="netName"></slot></p>
        <p>技术类型：<slot name="skill"></slot></p>

    </div>
</template>

<script type="text/javascript">
    var jsfeng={
        template:'#tmp'
    }
    var app=new Vue({
        el:'#app',
        data:{
            jsfengData:{
                bolgUrl:'www.baidu.com',
                netName:'feng',
                skill:"web前端"
            }
        },
        components:{
            "jsfeng":jsfeng
        }

    })
</script>
</body>
</html>