<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <script type="text/javascript" src="../assets/jquery-3.2.1.min.js"></script>
    <title>example methods</title>
</head>
<body>
<h1>example methods</h1>
<hr>
<div id="app">
    {{message}}
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            message:'hello Vue!'
        },
        mounted:function () {
            $("#app").html('我是jquery-1')
        },
        methods:{
            add:function () {
                console.log("调用了构造器内部add方法");
            }
        }
    })
    app.add();
</script>
</body>
</html>