<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>mixin</title>
</head>
<body>
<h1>mixin</h1>
<hr>
<div id="app">
    {{num}}
    <p><button @click="add">add</button></p>
</div>

<script type="text/javascript">
    var addConsole={
        updated:function () {
            console.log('数据发生变化，变成成了'+this.num);
        }
    };
    Vue.mixin({
        updated:function () {
            console.log('我是全局的混入');

        }
    })
    var app=new Vue({
        el:'#app',
        data:{
            num:1
        },
        methods:{
            add:function () {
                this.num++;
            }
        },
        updated:function () {
            console.log('我是原声的');
        },
        mixins:[addConsole]//混入
    })
</script>
</body>
</html>