<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>propsData</title>
</head>
<body>
<h1>propsData Option</h1>
<hr>
<header></header>

<script type="text/javascript">
    var header_a = Vue.extend({
        template:'<p>{{message}}-{{a}}</p>',
        data:function () {
            return{
                message:'hello,i am header!'
            }
        },
        props:['a']
    });
    new header_a({header_a:{a:1}}).$mount('header');
</script>
</body>
</html>