<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>template</title>
</head>
<body>
<h1>template三种写法</h1>
<hr>

<div id="app">
    {{message}}
</div>
<template id="dd2">
    <h2 style="color:red">我是标签模板</h2>
</template>
<script type="x-template" id="dd3">
    <h2 style="color:red">我是script模板</h2>
</script>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            message:'hello Vue!'
        },
//        template:`<h2 style="color:red">我是选项模板</h2>`
        template:"#dd3"
    })
</script>
</body>
</html>