<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-bind</title>
</head>
<body>
<h1>v-bind</h1>
<hr>
<div id="app">
    <p><img v-bind:src="imgSrc"  width="200px"></p>
    <p><a :href="weburl" target="_blank">韩雪</a></p>
    <hr>
    <div :class="className">1.绑定class</div>
    <div :class="{classA:isOk}">2.绑定class中判断</div>
    <div :class="[classA,classB]">3.绑定class中数组</div>
    <div :class="isOk?classA:classB">4.绑定class中三元运算符</div>
    <hr>
    <div :style="{color:red,fontSize:font}">5、绑定style</div>
    <div :style="styleObject">6、绑定style(数组绑定)</div>
    <hr>
    <div>
        <input type="checkbox" id="isOk" v-model="isOk">
        <label for="isOk">isOk= {{isOk}}</label>
    </div>
</div>
<style>
    .classA{
        color:red;
    }
    .classB{
        font-size: 30px;
    }
</style>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            imgSrc:'https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2601979840,1293935183&fm=173&s' +
            '=A6787E8754B86594C210147203000071&w=218&h=146&img.JPEG',
            weburl:'https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2601979840,1293935183&fm=173&s' +
            '=A6787E8754B86594C210147203000071&w=218&h=146&img.JPEG',
            className:'classA',
            isOk:true,
            classA:'classA',
            classB:'classB',
            red:'red',
            font:'20px',
            styleObject:{
                color:'green',
                fontSize:'20px'
            }

        }
    })
</script>
</body>
</html>