<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-for</title>
</head>
<body>
<h1>v-for</h1>
<hr>
<div id="app">
    <ul>
        <li v-for="item in sortItems">
            {{item}}
        </li>
    </ul>
    <hr>
    <ul>
        <!--<li v-for="student in students">-->
            <!--{{student.name}}&#45;&#45;{{student.age}}-->
        <!--</li>-->
            <li v-for="(student,index) in sortStudent">
                {{index+1}}：{{student.name}} - {{student.age}}
            </li>

    </ul>

</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            items:[38,22,33,7,56],
            students:[
                {name:'feng',age:32},
                {name:'feng1',age:30},
                {name:'feng2',age:21},
                {name:'feng3',age:45}
            ]
        },
        computed:{
            sortItems:function(){
                return this.items.sort(sortNumber);
            },
            sortStudent:function(){
                return sortByKey(this.students,'age');
            }
        }
    });
    function sortNumber(a,b){
        return a-b
    }
    //数组对象方法排序:
    function sortByKey(array,key){
        return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
    }
</script>
</body>
</html>