<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-if&v-else&v-show</title>
</head>
<body>
<h1>v-if&v-else&v-show</h1>
<hr>
<div id="app">

    <div v-if="isLogin">你好，feng</div>
    <div v-else>你好，请登录！</div>
    <!--<div v-show="islogin">你好，feng</div>-->

</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            isLogin:true
        }
    })
</script>
</body>
</html>