<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-model</title>
</head>
<body>
<h1>v-model</h1>
<hr>
<div id="app">
    <h3>文本框</h3>
    <p> {{message}}</p>
    <p>v-model:<input type="text" v-model="message"> </p>
    <p> v-model.lazy:<input type="text" v-model.lazy="message"> </p>
    <p>v-model.number:<input type="text" v-model.number="message"> </p>
    <p>v-model.trim<input type="text" v-model.trim="message"> </p>
    <hr>
    <h3>文本域</h3>
    <textarea cols="30" rows="10" v-model="message"></textarea>
    <hr>
    <h3>多选按钮绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <hr>
    <h3>多选绑定一个数组</h3>
    <p>
        <input type="checkbox" id="feng" value="feng" v-model="web_names">
        <label for="isTrue">feng</label>

        <input type="checkbox" id="feng1" value="feng1" v-model="web_names">
        <label for="isTrue">feng1</label>

        <input type="checkbox" id="feng2" value="feng2" v-model="web_names">
        <label for="isTrue">feng2</label>
    </p>
    <p>{{web_names}}</p>
    <hr>
    <h3>单选按钮绑定数据</h3>
    <input type="radio" id="one" value="男" v-model="sex">
    <label for="one">男</label>
    <input type="radio" id="two" value="女" v-model="sex">
    <label for="one">女</label>
    <p>{{sex}}</p>

</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            message:'hello Vue!',
            isTrue:true,
            web_names:[],
            sex:'男'
        }
    })
</script>
</body>
</html>