<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-on</title>
</head>
<body>
<h1>v-on监听事件</h1>
<hr>
<div id="app">
    本场得分：{{fenshu}}
    <p>
        <button v-on:click="jiafen">加分</button>
        <button v-on:click="jianfen">减分</button>

        <input type="text" v-on:keyup.enter="onEnter" v-model="fenshu2" />
    </p>
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            fenshu:0,
            fenshu2:1
        },
        methods:{
            jiafen:function () {
                this.fenshu++;
            },
            jianfen:function () {
                this.fenshu--;
            },
            onEnter:function () {
                this.fenshu=this.fenshu + parseInt(this.fenshu2)
            }
        }
    })
</script>
</body>
</html>