<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-others</title>
</head>
<body>
<h1>v-pre&v-cloak&v-once</h1>
<hr>
<div id="app">
    <div v-pre>{{message}}</div>
    <div v-cloak>渲染完成，才显示！</div>
    <div v-once>{{message}}</div>
    <div><input type="text" v-model="message"></div>
    <div>{{message}}</div>
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            message:'hello Vue!'
        }
    })
</script>
</body>
</html>