<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>v-text&v-html</title>
</head>
<body>
<h1>v-text&v-html</h1>
<hr>
<div id="app">
    <span>{{message}}</span>=<span v-text="message"></span>
    <span v-html="dodo"></span>
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            message:'v-text',
            dodo:'<h2>欢迎来到</h2>'
        }

    });

</script>
</body>
</html>