<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>vue.extend</title>
</head>
<body>
<h1>vue.extend扩展实例构造器</h1>
<hr>
<author></author>
<div id="author"></div>

<script type="text/javascript">
    var authorURL = Vue.extend({
        template:"<p><a :href='authorUrl'>{{authorName}}</a> </p>",
        data:function () {
            return{
                authorName:'feng',
                authorUrl:'http://www.fenglongtian.cn'
            }
        }
    });
    new authorURL().$mount("author");
    new authorURL().$mount("#author");

</script>
</body>
</html>