<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>Vue.directive自定义指令</title>
</head>
<body>
<h1>Vue.directive</h1>
<hr>
<div id="app">
   <div v-feng="color">{{num}}</div>
    <p><button @click="add">add</button></p>
    <p><button onclick="unbind()">jiebang</button></p>
</div>

<script type="text/javascript">
    function unbind() {
        app.$destroy();
    }
//    Vue.directive("feng",function (el,binding) {
//        console.log(el);
//        console.log(binding);
//        console.log(binding.name);
//        el.style="color:"+binding.value;
//    });

    Vue.directive("feng",{

        bind:function(el,binding){//被绑定
            console.log('1 - bind');
            el.style="color:"+binding.value;
        },
        inserted:function(){//绑定到节点
            console.log('2 - inserted');
        },
        update:function(){//组件更新
            console.log('3 - update');
        },
        componentUpdated:function(){//组件更新完成
            console.log('4 - componentUpdated');
        },
        unbind:function(){//解绑
            console.log('5 - unbind');
        }
    });
    var app=new Vue({
        el:'#app',
        data:{
            num:10,
            color:'red'
        },
        methods:{
            add:function () {
                this.num++;
            }
        }
    })
</script>
</body>
</html>