<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/vue.js"></script>
    <title>wath</title>
</head>
<body>
<h1>Hello World</h1>
<hr>
<div id="app">
    <p>今日温度：{{temperature}}°C</p>
    <p>穿衣建议:{{this.chuanyi}}</p>
    <p>
        <button @click="add">添加温度</button>
        <button @click="reduce">减少温度</button>

    </p>
</div>

<script type="text/javascript">
    var suggestion=['T恤短袖','夹克长裙','棉衣羽绒服'];
    var app=new Vue({
        el:'#app',
        data:{
            temperature:14,
            chuanyi:'夹克长裙'
        },
        methods:{
            add:function(){
                this.temperature+=5;
            },
            reduce:function(){
                this.temperature-=5;
            }
        }
//        ,
//        watch:{
//            temperature:function(newVal,oldVal){
//                if(newVal>=26){
//                    this.chuanyi=suggestion[0];
//                }else if(newVal<26 && newVal >=0)
//                {
//                    this.chuanyi=suggestion[1];
//                }else{
//                    this.chuanyi=suggestion[2];
//                }
//            }
//        }

    });

    app.$watch('temperature',function(newVal,oldVal){
        if(newVal>=26){
            this.chuanyi=suggestion[0];
        }else if(newVal<26 && newVal >=0)
        {
            this.chuanyi=suggestion[1];
        }else{
            this.chuanyi=suggestion[2];
        }

    })
</script>
</body>
</html>